/*  */
.simulation-settings {
  padding:1em;
  margin:1em;
  width:700px;
  border:5px solid #bbada0;
  border-radius:1em;
  background: #eee4da;
}

/* Style for the Simulation Data table */
.simulation-data {
  font-size:1.25em;
  width:200px;
  background:#eee4da;
}
.sim-data-container {
  border-radius: 1em;
  border-width: 5px;
  border-color: #bbada0;
  border-style: solid;
  overflow-y:auto;
  height:100px;
}

.simulation-data tr td:nth-child(even),
.simulation-data tr th:nth-child(even) {
  background: rgba(200,200,200, 0.35);
}
.simulation-data .avg {
  border-bottom: 1px solid #999;
}

/**/
#canvas {
  border-radius: 0.5em;
}
